.Chat-main
  .Chat-main__group-info
    .Chat-main__group
      .Chat-main__group-name
        
      .Chat-main__group-member
        Member: masa
    = link_to "#", class: "Chat-main__edit-btn" do
      edit
  .Chat-main__message-list
    = render @messages
  .Chat-main__footer
    = form_with model: [@group, @message], html: {class: "Chat-main__message-form"}, local: true do |f|
      .Chat-main__input-box
        = f.text_field :content, class: 'Chat-main__text-form', placeholder: 'type a message'
        = f.label :image, class: 'Chat-main__image-form' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Chat-main__image-file'
      = f.submit 'Send', class: 'Chat-main__submit-btn'