.Side-bar
  .Side-bar__user-name
    .Side-bar__top-items
      .Side-bar__name
        = current_user.name
      .Side-bar__icon-list
        = link_to new_group_path(current_user), class: "Side-bar__btn Side-bar__btn--edit" do
          = icon('far', 'edit', class: "Side-bar__btn--icon")
        = link_to edit_user_path(current_user), class: "Side-bar__btn Side-bar__btn--cog" do
          = icon('fas', 'cog', class: "Side-bar__btn--icon")
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Side-bar__group-box
        = link_to group_messages_path(group) do
          .Side-bar__group-name
            = group.name
          .Side-bar__group-message
            メッセージはまだありません

    
